/* global styles */

* {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* body styles */

body {
    text-align: center;
    color: white
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

h3 {
    font-size: 21px;
    color: gray;
}

body p {
    font-size: 16px;
    color: aquamarine;
    text-decoration: underline;
}

img {
    display: block;
    margin: auto;
    

}

.tent {
    width: 80%;
    
}

.icon {
    padding: 20px;
}

/* footer styles */

footer p {
    text-align: right;
    color: gray;
    text-decoration: none;
}